* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.content {
  padding: 20px;
  justify-content: center;
}

.header {
  position: sticky;
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn {
  border: 1px solid rgb(245, 204, 129);
  background: transparent;
  color: #fff;
  padding: 10px;
  width: 120px;
  border-radius: 5px;
  font-size: 18px;
}

ul > li {
  font-size: 18px;
  list-style: none;
}

.sticy_title {
  margin-top: 30px;
}
